* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    font-size: 14px !important;
}

.background {
    min-height: 100vh;
    background: url(../assets/image/bg2.png) no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container-md {
    background-color: #fff !important;
    border: #ccc solid;
    max-width: 900px !important;
    position: relative;
    top: 80px;
    margin: auto;
}

.header {
    display: flex;
    margin-top: 32px;
}

/* image  */
.image > img {
    width: 180px;
    border-radius: 8px;
}

/* infor */
.infor {
    margin-left: 32px;  
}

.name {
    text-transform: uppercase;
    font-weight: 600;
}

.carrer {
    text-transform: uppercase;
    font-style: italic;
}

.list-infor {
    display: flex;
    gap: 20px;
}

.ml {
    margin-left: 132px;
}

.mb {
    margin-bottom: 60px;
}

.myTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
  }
  
  .myTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .myTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .myTable tr:hover {background-color: #ddd;}

td>a {
    text-decoration: none;
    color: #000;
}

p>a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 900px) {
    .background {
        display: none;
    }
    .container-md {
        top: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .container-md {
        border: none;
        width: 100%;
    }
}

  
  